* {
  /* margin: 0; */
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  margin-bottom: 10px;
}

.btn-primary {
  background-color: transparent;
  border: 1px solid #000;
  color: #000;
}